.skills {

  .progress {

    font-size: 0.9rem;
    margin-bottom: 5px;
    height: 24px;
    background-color: rgba(21,21,21, 0.5);
  }

  .progress-bar {
    padding-left: 10px;
    text-align: left;
  }
}
