.support {
  & > div {
    transition: transform 400ms ease-in-out, background-color 200ms ease-in-out,
    padding 500ms;
    background-color: rgba(255, 255, 255, 0);
    padding: 15px 10px 15px 0px;
    border: 0;

    &:hover {
      background-color: $components-bg-color;
      padding-left: 15px;

      transform: translateX(25px);
      box-shadow: $box-shadow-sm;
    }

    & > span {
      font-size: 1.5rem;
    }

    p {
      max-width: 75%;
    }

    @include media-md {
      p {
        max-width: 100%;
      }
    }

  }
}
